* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
  display: block;
}

.layout {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  height: 100%;
  grid-template-rows: 60px 1fr 40px;
}
.layout .container {
  width: 80%;
  margin: 0 auto;
}
.layout main {
  grid-area: main;
  background-color: #f8f8f8;
}
.layout main .wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  gap: 20px;
}
.layout main .wrapper .products-wrapper {
  flex: 4;
}
.layout main .wrapper .filter-wrapper {
  flex: 1;
  background-color: #ffffff;
  padding: 10px;
}