$primaryColor: #e34133;
$primaryColor-alt: #bf211e;
$secondColor: #4081ec;
$yellowColor: #f3b604;
$greenColor: #33a350;
$grayColor: #b7b7b7;
$lightColor: #f1f1f1;
$whiteColor: #ffffff;
$blackColor: #222;

// TRANSITIONS
$transition-3: 0.3s ease-in-out;
