@import "../../sass/variables";

.filter-wrapper {
  .filter-title {
    margin-bottom: 5px;
    font-size: 1.6rem;

  }

  .products-count {
    color: $whiteColor;
    padding: 5px;
    width: max-content;
    background-color: $secondColor;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }

  .filter-by-category {
    margin-bottom: 20px;
  }

  .filter-head {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  .filter-category {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
